@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: #e6e4ef;
}

#root {
  position: relative;
}

.html {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
}

.icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.sound {
  position: fixed;
  right: 20px;
  top: 20px;
  color: #ccc;
  display: flex;
}

.tips {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.share {
  position: fixed;
  left: 20px;
  bottom: 20px;
}

.content {
  width: 100%;
  position: fixed;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  text-align: center;
}

.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  line-height: 2.8rem;
  color: #417469;
  margin-bottom: 10px;
}

.other {
  font-size: 12px;
  color: #888;
}

a {
  color: #888;
  text-decoration: inherit;
  padding: 0 5px;
}
