* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background: #141414;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue,
    helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

canvas {
  cursor: grab;
}

canvas:active {
  cursor: grabbing;
}
