# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Generated documentation
/docs
packages/**/docs
apps/website/docs/reference/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Turborepo
.turbo
packages/editor-v2/LICENSE.md
packages/editor-v2/package.json
packages/editor-v2/README.md
packages/editor-v2/tsconfig.json
packages/editor-v2/assets/inter-var-latin.woff2
packages/editor-v2/assets/style.css
packages/editor-v2/fiber/package.json
packages/editor-v2/rapier/package.json
packages/editor-v2/src/index.ts
packages/editor-v2/src/types.ts
packages/editor-v2/src/commandbar/CommandBar.tsx
packages/editor-v2/src/commandbar/CommandManager.ts
packages/editor-v2/src/commandbar/EditorCommand.tsx
packages/editor-v2/src/commandbar/index.ts
packages/editor-v2/src/commandbar/KeyboardCommand.tsx
packages/editor-v2/src/commandbar/store.ts
packages/editor-v2/src/commandbar/tunnel.ts
packages/editor-v2/src/commandbar/types.ts
packages/editor-v2/src/commandbar/utils.ts
packages/editor-v2/src/commandbar/commands/Editor.tsx
packages/editor-v2/src/commandbar/commands/General.tsx
packages/editor-v2/src/commandbar/commands/index.tsx
packages/editor-v2/src/commandbar/commands/InsertElement.tsx
packages/editor-v2/src/commandbar/commands/UI.tsx
packages/editor-v2/src/component-loader/component-loader.ts
packages/editor-v2/src/component-loader/index.ts
packages/editor-v2/src/fiber/CameraBounds.tsx
packages/editor-v2/src/fiber/Canvas.tsx
packages/editor-v2/src/fiber/editor.tsx
packages/editor-v2/src/fiber/index.ts
packages/editor-v2/src/fiber/PanelGroup.tsx
packages/editor-v2/src/fiber/ThreeEditor.tsx
packages/editor-v2/src/fiber/types.ts
packages/editor-v2/src/fiber/useFrame.ts
packages/editor-v2/src/fiber/useWatchElement.tsx
packages/editor-v2/src/fiber/controls/BottomBar.tsx
packages/editor-v2/src/fiber/controls/BoundsHelper.tsx
packages/editor-v2/src/fiber/controls/CameraGizmos.tsx
packages/editor-v2/src/fiber/controls/EditorCamera.tsx
packages/editor-v2/src/fiber/controls/EditorControls.tsx
packages/editor-v2/src/fiber/controls/EditorPanels.tsx
packages/editor-v2/src/fiber/controls/ElementTransformControls.tsx
packages/editor-v2/src/fiber/controls/PerformanceControls.tsx
packages/editor-v2/src/fiber/controls/SceneControls.tsx
packages/editor-v2/src/fiber/controls/SelectedElementControls.tsx
packages/editor-v2/src/fiber/controls/TransformHelper.tsx
packages/editor-v2/src/fiber/plugins/geometry.ts
packages/editor-v2/src/fiber/plugins/group.tsx
packages/editor-v2/src/fiber/plugins/index.tsx
packages/editor-v2/src/fiber/plugins/material.ts
packages/editor-v2/src/fiber/plugins/mesh.tsx
packages/editor-v2/src/fiber/plugins/plugins.tsx
packages/editor-v2/src/fiber/prop-types/autoSizer.tsx
packages/editor-v2/src/fiber/prop-types/eq.tsx
packages/editor-v2/src/fiber/prop-types/geometries.ts
packages/editor-v2/src/fiber/prop-types/gltf.tsx
packages/editor-v2/src/fiber/prop-types/imageTexture.tsx
packages/editor-v2/src/fiber/prop-types/index.tsx
packages/editor-v2/src/fiber/prop-types/mesh.tsx
packages/editor-v2/src/fiber/prop-types/ref.tsx
packages/editor-v2/src/fiber/prop-types/replace.tsx
packages/editor-v2/src/fiber/prop-types/texture.ts
packages/editor-v2/src/fiber/prop-types/transform.tsx
packages/editor-v2/src/fiber/prop-types/core/createProp.tsx
packages/editor-v2/src/fiber/prop-types/core/createProps.tsx
packages/editor-v2/src/fiber/prop-types/core/types.tsx
packages/editor-v2/src/fiber/prop-types/materials/basic.ts
packages/editor-v2/src/fiber/prop-types/materials/common.ts
packages/editor-v2/src/fiber/prop-types/materials/index.tsx
packages/editor-v2/src/fiber/prop-types/materials/phong.ts
packages/editor-v2/src/fiber/prop-types/materials/physical.ts
packages/editor-v2/src/fiber/prop-types/materials/standard.ts
packages/editor-v2/src/fiber/prop-types/primitives/index.tsx
packages/editor-v2/src/fiber/prop-types/primitives/types.tsx
packages/editor-v2/src/ui/Collapsible.tsx
packages/editor-v2/src/ui/ContextMenu.tsx
packages/editor-v2/src/ui/ElementIcon.tsx
packages/editor-v2/src/ui/ElementName.tsx
packages/editor-v2/src/ui/ImageInput.tsx
packages/editor-v2/src/ui/MultiToggle.tsx
packages/editor-v2/src/ui/OpenInEditorButton.tsx
packages/editor-v2/src/ui/tunnel.tsx
packages/editor-v2/src/ui/tunnels.tsx
packages/editor-v2/src/ui/usePopin.tsx
packages/editor-v2/src/ui/folder/Chevron.tsx
packages/editor-v2/src/ui/folder/Folder.tsx
packages/editor-v2/src/ui/folder/FolderTitle.tsx
packages/editor-v2/src/ui/folder/StyledFolder.ts
packages/editor-v2/src/ui/folder/useToggle.ts
packages/editor-v2/src/ui/leva/custom.tsx
packages/editor-v2/src/ui/leva/element.tsx
packages/editor-v2/src/ui/leva/multiToggle.tsx
packages/editor-v2/src/ui/leva/toggle.tsx
packages/editor-v2/src/ui/leva/useControls.ts
packages/editor-v2/src/ui/leva/usePersistedControls.tsx
packages/editor-v2/src/ui/leva/tree/tree.tsx
packages/editor-v2/src/ui/leva/tree/TreeElement.tsx
packages/editor-v2/src/ui/leva/tree/TreeItem.tsx
packages/editor-v2/src/ui/panels/DockedPanel.tsx
packages/editor-v2/src/ui/panels/Floating.tsx
packages/editor-v2/src/ui/panels/FloatingPanel.tsx
packages/editor-v2/src/ui/panels/LevaPanel.tsx
packages/editor-v2/src/ui/panels/panel-tunnels.tsx
packages/editor-v2/src/ui/panels/Panel.tsx
packages/editor-v2/src/ui/panels/panelService.tsx
packages/editor-v2/src/ui/panels/PanelTitle.tsx
packages/editor-v2/src/vite/client.ts
packages/editor-v2/src/vite/index.ts
packages/editor-v2/src/vite/types.ts
packages/editor-v2/src/vite/babel/babel.ts
packages/editor-v2/src/vite/babel/index.ts
packages/editor-v2/src/vite/babel/types.ts
packages/editor-v2/src/vite/server/configureServer.ts
packages/editor-v2/src/vite/server/filesToSkipOnHmr.ts
packages/editor-v2/src/vite/server/index.ts
packages/editor-v2/src/vite/server/middlewares.ts
packages/editor-v2/src/vite/server/transform-plugins/attribute-change.ts
packages/editor-v2/src/vite/server/transform-plugins/element.ts
packages/editor-v2/src/vite/server/transform-plugins/imports.ts
packages/editor-v2/src/vite/server/transform-plugins/index.ts
packages/editor-v2/src/vite/utils/babel.ts
packages/editor-v2/src/vite/utils/index.ts
packages/editor-v2/vite/package.json
